*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.header__link,
.footer__menu-link,
.header__address a,
.footer__address a,
.lots__look-more-link {
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-thickness: 1px; /* толщина линии */
}

.header__link,
.footer__menu-link {
  text-underline-offset: 1px; /* отступ от текста */
}

.lots__look-more-link {
  text-underline-offset: 2px;
}

.header__address a,
.footer__address a {
  text-underline-offset: 3px;
}
